.nav-container {
  background: linear-gradient(0deg,
      rgba(255, 255, 255, 0.09),
      rgba(255, 255, 255, 0.09),
      #121212);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-title {
  font-size: 48px;
  margin: 4px;
}

h1 {
  font-size: 18px;
}

p {
  font-size: 24px;
  margin: 4px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.chart-container {
  margin-left: 1em;
  margin-right: 5em;
  display: flex;
}

.chart-wrapper {
  margin-top: 5em;
  padding: 6px 0;
  width: 55%;
  background-color: #171717;
}

button {
  margin-top: 7em;
}

/*Card Styles*/
.card-wrapper {
  margin-top: 5em;
  padding: 6px 0;
  width: 55%;
  background-color: #171717;
}