.nav-container {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09),
    #121212
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.graph-title {
  margin-top: 3em;
}

h2 {
  font-size: 48px;
  margin: 4px;
}

p {
  font-size: 24px;
  margin: 4px;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.chart-container {
  margin-left: 20em;
  margin-right: 20em;
}

.chart-wrapper {
  margin-top: 5em;
}

button {
  margin-top: 7em;
}
