html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  display: flex;
  flex-direction: column;
  font-family: 'Comfortaa', cursive;
  background-color: #121212;
  color: #FFFFFF;
}
header {
  display: flex;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.09), rgba(255, 255, 255, 0.09)), #121212;
}
header nav {
  display: flex;
  width: 71%;
  justify-content: space-between;
}
header nav a {
  display: flex;
  font-size: 1.2rem;
  text-decoration: none;
  color: #b3b3b3;
  margin: 2% 0 2% 0;
}
header nav a:hover {
  color: #39869D;
}
header h1 {
  font-size: 2.3rem;
  color: #FFFFFF;
  margin: 1% 10% 1% 5%;
}
@media (max-width: 500px) {
  header nav {
    margin: 5% 1% 0 0;
  }
  header nav a {
    font-size: 1rem;
  }
  header h1 {
    font-size: 1.5rem;
  }
}
.top-content {
  display: flex;
  flex-direction: column;
}
.top-content h2 {
  font-size: 2rem;
  font-weight: bolder;
}
.top-content .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10% 10% 0 10%;
  text-align: center;
}
.top-content .intro P {
  width: 40%;
}
