/*todo: add a reset somewhere?*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa');



html{
    font-family: Comfortaa, serif;
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
}
body{
    font-family: Comfortaa, serif;
}

h1{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
}

/*leftContent and loginForm are the two halves(left and right) of the login page*/
.loginForm{
    width: 50%;
}

.loggingIn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}