/*todo: add a reset somewhere?*/


html{
    background-color: black;
    color: rgba(255, 255, 255, 0.6);
}

h1{
    font-family: Comfortaa, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
}

.leftContent{
}

.loginForm{
    width: 50%;
}